/* breakpoint variables */
/* Sizing vars */
/* initial px value for text */
/* set px value sizes */
@font-face {
  font-family: "Roboto Delta";
  src: url("../fonts/RobotoDelta_v2-VF.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap; }

/* Voto Serif Variable Font */
/*
  Variations used:
    wght (28-194)
    wdth (50-130)
    OPSZ (12-72)
*/
@font-face {
  font-family: 'Voto Serif GX';
  src: url("../fonts/VotoSerifGX.woff2") format("woff2-variations");
  font-display: swap;
  font-stretch: 50% 130%;
  font-weight: 28 194; }

/* Plex Sans Variable Font */
@font-face {
  font-family: 'Plex Sans VF';
  src: url("../fonts/plex-sans-vf/IBMPlexSansVar-Roman.woff2") format("woff2-variations");
  font-display: swap;
  font-stretch: 85% 100%;
  font-style: normal;
  font-weight: 100 700; }

@font-face {
  font-family: 'Plex Sans VF';
  src: url("../fonts/plex-sans-vf/IBMPlexSansVar-Italic.woff2") format("woff2-variations");
  font-display: swap;
  font-stretch: 85% 100%;
  font-style: italic;
  font-weight: 100 700; }

@font-face {
  font-family: 'Plex Sans';
  src: url("../fonts/IBM-Plex-Sans/eot/IBMPlexSans-Regular.eot");
  src: url("../fonts/IBM-Plex-Sans/eot/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/IBM-Plex-Sans/woff2/IBMPlexSans-Regular.woff2") format("woff2"), url("../fonts/IBM-Plex-Sans/woff/IBMPlexSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Plex Sans';
  src: url("../fonts/IBM-Plex-Sans/eot/IBMPlexSans-Bold.eot");
  src: url("../fonts/IBM-Plex-Sans/eot/IBMPlexSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBM-Plex-Sans/woff2/IBMPlexSans-Bold.woff2") format("woff2"), url("../fonts/IBM-Plex-Sans/woff/IBMPlexSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Plex Sans';
  src: url("../fonts/IBM-Plex-Sans/eot/IBMPlexSans-Italic.eot");
  src: url("../fonts/IBM-Plex-Sans/eot/IBMPlexSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/IBM-Plex-Sans/woff2/IBMPlexSans-Italic.woff2") format("woff2"), url("../fonts/IBM-Plex-Sans/woff/IBMPlexSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Plex Sans';
  src: url("../fonts/IBM-Plex-Sans/eot/IBMPlexSans-BoldItalic.eot");
  src: url("../fonts/IBM-Plex-Sans/eot/IBMPlexSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/IBM-Plex-Sans/woff2/IBMPlexSans-BoldItalic.woff2") format("woff2"), url("../fonts/IBM-Plex-Sans/woff/IBMPlexSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Plex Serif';
  src: url("../fonts/IBM-Plex-Serif/IBMPlexSerif-Regular.eot");
  src: url("../fonts/IBM-Plex-Serif/IBMPlexSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/IBM-Plex-Serif/IBMPlexSerif-Regular.woff2") format("woff2"), url("../fonts/IBM-Plex-Serif/IBMPlexSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Plex Serif';
  src: url("../fonts/IBM-Plex-Serif/eot/IBMPlexSerif-Bold.eot");
  src: url("../fonts/IBM-Plex-Serif/eot/IBMPlexSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/IBM-Plex-Serif/woff2/IBMPlexSerif-Bold.woff2") format("woff2"), url("../fonts/IBM-Plex-Serif/woff/IBMPlexSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Plex Serif';
  src: url("../fonts/IBM-Plex-Serif/eot/IBMPlexSerif-Italic.eot");
  src: url("../fonts/IBM-Plex-Serif/eot/IBMPlexSerif-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/IBM-Plex-Serif/woff2/IBMPlexSerif-Italic.woff2") format("woff2"), url("../fonts/IBM-Plex-Serif/woff/IBMPlexSerif-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Plex Serif';
  src: url("../fonts/IBM-Plex-Serif/eot/IBMPlexSerif-BoldItalic.eot");
  src: url("../fonts/IBM-Plex-Serif/eot/IBMPlexSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/IBM-Plex-Serif/woff2/IBMPlexSerif-BoldItalic.woff2") format("woff2"), url("../fonts/IBM-Plex-Serif/woff/IBMPlexSerif-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

:root {
  /* font stack */
  --font-stack-sans: "Plex Sans", Helvetica, arial, sans-serif;
  --font-stack-serif: "Plex Serif", Georgia, "Times New Roman", serif;
  /* breakpoint variables */
  --bp-small: 25;
  --bp-medium: 45;
  --bp-large: 55;
  --bp-xlarge: 65;
  /* colors */
  --color-bg: #f9f9fd;
  --color-text: #414141;
  /* initial values  */
  --text-wght: 90;
  --text-wdth: 100;
  --text-opsz: 16;
  /* set px value sizes */
  --p-size-s-px: 16;
  --p-size-m-px: 18;
  --p-size-l-px: 20;
  --h1-size-s-px: 40;
  --h1-size-m-px: 56;
  --h1-size-l-px: 144;
  /* set scale values */
  --p-size-min: 1;
  --p-size-mid: 1.125;
  --p-size-max: 1.25;
  --p-lh-min: 1.3;
  --p-lh-mid: 1.4;
  --p-lh-max: 1.6;
  --p-wdth-min: 90;
  --p-wdth-mid: 95;
  --p-wdth-max: 100;
  --h1-size-min: 2.5;
  --h1-size-mid: 3.5;
  --h1-size-max: 9;
  --h1-lh-min: 1.05;
  --h1-lh-mid: 1.075;
  --h1-lh-max: 1.1;
  --h1-wdth-min: 85;
  --h1-wdth-mid: 92.5;
  --h1-wdth-max: 100;
  --h1-wght-min: 575;
  --h1-wght-mid: 625;
  --h1-wght-max: 675; }

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-stack-serif);
  font-weight: var(--text-wght);
  font-stretch: calc( var(--text-wdth) * 1%); }

h1 {
  font-family: var(--font-stack-sans);
  font-size: calc( var(--h1-size-min) * 1em);
  font-synthesis: none;
  font-weight: bold;
  line-height: var(--h1-lh-min);
  margin: 1rem auto;
  max-width: 96vw; }
  @media screen and (min-width: 25em) {
    h1 {
      line-height: var(--h1-lh-mid);
      font-size: calc( var(--h1-size-mid) * 1em); } }
  @media screen and (min-width: 45em) {
    h1 {
      font-weight: var(--h1-wght-mid);
      max-width: 40rem; } }
  @media screen and (min-width: 55em) {
    h1 {
      font-weight: var(--h1-wght-max);
      max-width: 42rem; } }
  @media screen and (min-width: 65em) {
    h1 {
      font-size: calc( var(--h1-size-max) * 1em);
      line-height: var(--h1-lh-max);
      max-width: 44rem; } }

p {
  font-size: calc( var(--p-size-min) * 1em);
  font-synthesis: none;
  font-weight: normal;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: var(--p-lh-min);
  margin: 0 auto;
  max-width: 96vw; }
  @media screen and (min-width: 25em) {
    p {
      line-height: var(--p-lh-mid);
      font-size: calc(( var(--p-size-mid) * 1em )); } }
  @media screen and (min-width: 45em) {
    p {
      max-width: 40rem; } }
  @media screen and (min-width: 55em) {
    p {
      max-width: 42rem; } }
  @media (min-width: 65em) {
    p {
      font-size: calc( var(--p-size-max) * 1em);
      line-height: var(--p-lh-max);
      max-width: 44rem; } }
  p + p {
    margin-top: 1em; }

/* layout */
.grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 15rem));
  margin: 1rem auto;
  max-height: 100%;
  padding: 0 1rem; }
  .grid > * {
    transition: all 1s ease-in-out; }

.teaser {
  grid-column: auto / span 1;
  --p-lh-min: 1.1;
  --p-lh-mid: 1.2;
  --p-lh-max: 1.3; }
  @media (min-width: 67em) {
    .teaser {
      --p-size-s-px: 14;
      --p-size-m-px: 14;
      --p-size-l-px: 16;
      --p-size-min: 1;
      --p-size-mid: 1.125;
      --p-size-max: 1.25; } }

/* drop cap */
.article-detail p:first-of-type::first-letter {
  border: solid 1px #a1a1a1;
  float: left;
  font-size: 6.125em;
  font-weight: 125;
  line-height: 0.65;
  /* line-height is set smaller than 1 to even out display in Safari and Chrome; Firefox seems unaffected */
  margin: 0 0.1em 0 -0.1em;
  padding: 0.1em; }

/* first line style */
.article-detail p:first-of-type:first-line {
  font-weight: bold;
  font-variant: small-caps; }
